#page_container {
    width: 98%;
    margin: 10px auto;
    background-color: #fff;
    color: #333;
    line-height: 130%;
}
#page_top {
    padding: .5em;
    background-color: white;
    border-bottom: 1px solid gray;
}
#page_top h1 {
    padding: 0;
    margin: 0;
}
#page_leftnav
{
    float: left;
    width: 202px;
    margin: 0;
    padding: 1em;
}
#page_content {
    margin-left: 230px;
    border-left: 1px solid gray;
    padding: 1em;
    min-height: 300px;
}
#page_footer {
    clear: both;
    margin: 0;
    padding: .5em;
    color: #333;
    background-color: #ddd;
    border-top: 1px solid gray;
}
#page_leftnav p { margin: 0 0 1em 0; }
#page_content h2 { margin: 0 0 .5em 0; }
.response_time {
    font-weight:normal;
    font-size:small;
}
.focusable_text{
    color: #000000;
}
.focusable_text:hover {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:#FFFF99 none repeat scroll 0 0;
    text-decoration:none;
    width:auto;
}