/* FIXME: indent with tabs to save bandwidth */

/* Top-level size and positioning */

.topBanner {
   background: url(/_images/banner_bg.gif) repeat left top;
}

.rightBar {
    border-left: 1px solid silver;
}

/* General */




/* Special versions of general tags */

a[rel=start]:before { content: "|< " }
a[rel=prev]:before { content: "<< " }

a[rel=next]:after { content: " >>" }
a[rel=end]:after { content: " >|" }

/* Page elements */

.rightBar .box {
    padding: 0 10px 10px 10px;
    font-size: 80%;
}

.rightBar .box .title {
    padding: 0;
    margin: 0;
}

.rightBar .box .box {
    padding: 0;
    font-size: 100%;
}